# NASA Mars News (Splinter)

In [20]:
# Dependencies
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup
import pandas as pd
import requests
import pymongo

In [21]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response.text, 'lxml')

In [22]:
# Retrieve the parent divs for all News
results = soup.find_all('div', class_='slide')

# loop over results to get News data
for result in results:
    # scrape the news desc 
    news_desc = result.find('div', class_='rollover_description_inner').text
    
    # scrape the News Title
    news_title = result.find('div', class_='content_title').text
    
   
    # print article data
    print(news_title)
    #print('------------------')
    print(news_desc)
    print('*******************************************************')

NASA Invites Students to Name Mars 2020 Rover



Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.

*******************************************************


NASA's Curiosity Mars Rover Finds a Clay Cache



The rover recently drilled two samples, and both showed the highest levels of clay ever found during the mission.

*******************************************************


Why This Martian Full Moon Looks Like Candy



For the first time, NASA's Mars Odyssey orbiter has caught the Martian moon Phobos during a full moon phase. Each color in this new image represents a temperature range detected by Odyssey's infrared camera.

*******************************************************


NASA Garners 7 Webby Award Nominations



Nominees include four JPL projects: the solar system and climate websites, InSight social media, and a 360-degree Earth video. Public voting closes April 18, 2019.

*******************************************************


NASA's Opportunity Rover Mission on Mars Comes to End



NASA's Opportunity Mars rover mission is complete after 15 years on Mars. Opportunity's record-breaking exploration laid the groundwork for future missions to the Red Planet.

*******************************************************


NASA's InSight Places First Instrument on Mars



In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.

*******************************************************

# JPL Mars Space Featured Image (Splinter)

In [23]:
# This is to initialize Splinter for Windows users
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [24]:
#URL of page to be scraped
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [25]:
# Go to 'FULL IMAGE'
browser.click_link_by_partial_text('FULL IMAGE')

In [26]:
# Go to 'more info'
browser.click_link_by_partial_text('more info')

In [27]:
# Create BeautifulSoup object; parse with 'html.parser'
html = browser.html
image_soup = BeautifulSoup(html, 'html.parser')

In [28]:
# Scrape the URL
featImg_url = image_soup.find('figure', class_='lede').a['href']
featured_image_url = f'https://www.jpl.nasa.gov{featImg_url}'
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17462_hires.jpg'

# Mars Weather (Splinter)

In [29]:
#URL of page to be scraped
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [30]:
# Create BeautifulSoup object; parse with 'html.parser'
html = browser.html
weather_soup = BeautifulSoup(html, 'html.parser')

In [31]:
# Scrape the tweet info
mars_weather = weather_soup.find_all('p', class_='TweetTextSize')
mars_weather[1].text

'InSight sol 371 (2019-12-12) low -96.6ºC (-141.9ºF) high -19.8ºC (-3.6ºF)\nwinds from the SW at 5.3 m/s (11.8 mph) gusting to 21.0 m/s (46.9 mph)\npressure at 6.60 hPapic.twitter.com/VKC855F0Mr'

# Mars Facts (Pandas)

In [32]:
#URL of page to be scraped
url = 'https://space-facts.com/mars/'
data = pd.read_html(url)
df=data[0]
df.columns = ['Property', 'Value']
df

               Property                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [33]:
# Convert to HTML table string
W_facts=df.to_html()
print(W_facts)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Property</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

# Mars Hemispheres(Splinter)

In [34]:
#URL of page to be scraped
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)
m_hsphere = []

In [35]:
# Create BeautifulSoup object parse with 'html.parser'
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [36]:
# URL of page to be scraped
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")
mars_hemisphere = []

products = soup.find("div", class_ = "result-list" )
hemispheres = products.find_all("div", class_="item")

for hs in hemispheres:
    title = hs.find("h3").text
    title = title.replace("Enhanced", "")
    endlink = hs.find("a")["href"]
    image_link = "https://astrogeology.usgs.gov/" + endlink    
    browser.visit(image_link)
    html = browser.html
    soup=BeautifulSoup(html, "html.parser")
    downloads = soup.find("div", class_="downloads")
    image_url = downloads.find("a")["href"]
    mars_hemisphere.append({"title": title, "img_url": image_url})

In [37]:
mars_hemisphere

[{'title': 'Cerberus Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]